{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<style>

.helptext{
  visibility: hidden;
}

</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-9">
<h1>Rerfer some one</h1>
<p>Please, Mention Your relation by using the following form to invite:</p>
<form method="post">
{{ user_form.as_p }}
{% csrf_token %}

<!--    {% if messages %}-->
<!--<ul class="messages">-->
<!--    {% for message in messages %}-->
<!--    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->
<p><input type="submit" value="Invite"></p>
</form>
        </div>
    </div>
</div>
</body>
{% endblock %}
